.carousel-inner img {
  min-height: 50px;
  max-height: 350px;
  object-fit: cover;
  max-width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.col-6 {
  text-align: center;
  margin-left: 50px;
  margin-top: 80px;
  font-family: sans-serif;
}
