.carousel-inner img {
  min-height: 50px;
  max-height: 350px;
  object-fit: cover;
  max-width: 300px;
  margin-top: 250px;
}
.carousel-inner {
  min-height: 400px;
  max-width: 350px;
}
h2 {
  position: absolute;
  top: 50%;
  left: 50%;
}
p {
  position: absolute;
  top: 60%;
  left: 50%;
}
